<header>
  <nav class="container">
    <ul>
      <li>
        <h1 class="mb-0">
          <%= link_to(image_tag("logo.png", alt: "clapper with the app's name, \"Flix\", to the right of it"), root_path) %>
        </h1>
      </li>
    </ul>
    <ul>
      <li>
        <%= link_to("All Movies", movies_path) %>
      </li>
    </ul>
    <ul>
      <li>
        <%= link_to("Sign In", signin_path, role: 'button') %>
      </li>
      <li>
        <%= link_to("Sign Up", signup_path, role: 'button') %>
      </li>
    </ul>
  </nav>
</header>
