<section>
  <hgroup>
    <h1>Editing <%= @movie.title %></h1>
    <p>Update this movie with the form below.</p>
  </hgroup>

  <article>
    <%= render("form", model: @movie) %>
  </article>
</section>
